{% extends "base2.html" %}
{% load static %}



{% block content %}
    <div class="container col-md-8 col-md-offset-2">
        <br>
        <form role="form" method="post" action="{% url 'forum:edit_forum' pk=forum.pk %}" id="form-content" class="threadforum">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Submit</button>

        </form>

        <div class="pull-left" style="clear: both">
            <a href="{% url 'forum:index' %}">&laquo; Back to forums.</a>
        </div>
    </div>
{% endblock content %}
