{% extends "base2.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                <span class="content-title">{{ forum.title }}</span>
                <br>
                {% if forum.description %}
                    <small>{{ forum.description }}</small>
                {% else %}
                    <small><em>No description available.</em></small>
                {% endif %}
            </h1>
            <div>
                <small>Created by: {{ forum.creator }}</small> <br>
                <small>Created On: {{ forum.created }}</small>
            </div>
            {% if user.is_authenticated %}
                <span>
                    <a href="{% url 'forum:add_thread' pk=forum.pk %}" class="btn btn-primary start-new-btn">New Topic</a>
                </span>
            {% endif %}
            {% if user.is_authenticated and user == forum.creator %}
                <br>
                <span><a href={% url 'forum:edit_forum' pk=forum.pk %}>Edit forum title or description</a></span>
            {% endif %}
        </div>
        <br>
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <th><h3 class="text-center">Topics</h3></th>
                    <th><h3 class="text-center">Replies</h3></th>
                    <th><h3 class="text-center">Last Post</h3></th>
                    <th></th>
                </thead>
                <tbody>
                    {% if threads %}
                        {% for thread in threads %}
                            <tr>
                                <td>
                                    <h4>
                                        <a href="{% url 'forum:thread' pk=thread.pk %}">{{ thread.title }}</a><br>
                                        {% if thread.description %}
                                            <small>{{ thread.description }}</small>
                                        {% else %}
                                            <small><em>No description available.</em></small>
                                        {% endif %}
                                        <br>
                                        <!-- <small>
                                            Started by: {{ thread.creator }}<br>
                                            On: {{ thread.created }}
                                        </small> -->
                                    </h4>
                                </td>
                                <td class="text-center">{{ thread.num_replies }}</td>
                                <td><small>{{ thread.last_post.short|linebreaks }}{{ thread.last_post.created }}</small></td>
                                <td class="text-center">
                                    <a href="{% url 'forum:thread' pk=thread.pk %}" class="btn btn-link">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center"><em>No threads in this forum. Check later or add a new topic.</em></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="pull-left" style="clear: both">
            <a href="{% url 'forum:index' %}">&laquo; Back to forums.</a>
        </div>
    </div>

    {% if threads %}
        <div class="row" style="clear: both">
            <span class="step-links">
                <ul class="pager">
                    <div class="col-xs-4">
                        {% if threads.has_previous %}
                            <li class="previous">
                                <a href="?page={{ threads.previous_page_number }}">&larr; Newer</a>
                            </li>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                        <li class="active">
                            <a href="#!">{{ threads.number }} / {{ threads.paginator.num_pages }}</a>
                        </li>
                    </div>
                    <div class="col-xs-4">
                        {% if threads.has_next %}
                            <li class="next">
                                <a href="?page={{ threads.next_page_number }}">Older &rarr;</a>
                            </li>
                        {% endif %}
                    </div>
                </ul>
            </span>
        </div>
    {% endif %}

{% endblock content %}
